* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*header*/
.header {
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}


.buttons-container {
  display: flex;
  align-items: center; 
}

.buttons-header {
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center; 
}

.buttons-header li {
  display: flex;
  justify-content: center;
}

.buttons-header button {
  font-size: 1.2rem;
  background-color: white;
  border: 2px solid #F15A5A;
  border-radius: 25px;
  padding: 15px 30px;
  color: #F15A5A;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.buttons-header button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F15A5A;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.buttons-header button:hover::before {
  transform: scaleX(1);
}

.buttons-header button:hover {
  color: white;
}

.slogan {
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: bold;
  font-size: 2rem; 
  color: #F15A5A; 
  background-color: #ffe5e5; 
  padding: 10px 20px; 
  border-radius: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-align: center;
  width: fit-content;
  margin: 0 auto; 
  margin-top: 10px; 
}
.foto-header {
  width: 140px;
  transition: transform 0.3s ease-in-out;
}

.foto-header:hover {
  transform: scale(1.1) rotate(10deg);
}

.menu-ham {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 40px;
}

/* Estilos del Menú */
.menu {
  background-color: #ffffff; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
  text-align: center;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 20px 0; 
}

.menu a {
  text-decoration: none;
  color: #333333; 
  font-weight: bold;
  font-size: 1.5em; 
  padding: 20px; 
  border: 2px solid transparent; 
  border-radius: 8px; 
  transition: all 0.3s ease;
  display: block; 
  margin-bottom: 10px; 
}

.menu a:hover {
  background-color: #f0f0f0; 
  color: #F15A5A; 
  border-color: #F15A5A; 
  transform: translateY(-3px); 
}

.logo-container {
  text-align: center;
  margin-top: 20px;
}

.logo-container img {
  max-width: 100px;
  height: auto;
  display: inline-block;
}

/* Estilos del Juego */
body {
  font-family: 'Arial Black', 'Comic Sans MS', cursive;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  color:#F15A5A;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: slideUpDown 3s ease infinite;
}

@keyframes slideUpDown {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

.contenedor-cuestionario {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  max-width: 600px;
}


.contenedor-botones {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; 
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  outline: none;
  flex: 1; 
}

button:hover {
  transform: translateY(-3px);
}
#boton-siguiente {
  background-color:lightskyblue;
  color: white;
}

#boton-siguiente:hover {
  background-color: lightskyblue;
}

#resultado p {
  margin: 10px 0;
  font-size: 1.2em;
}

#boton-verdadero {
  background-color: #4caf50;
  color: white;
}

#boton-verdadero:hover {
  background-color: #45a049;
}

#boton-falso {
  background-color: #f44336;
  color: white;
}

#boton-falso:hover {
  background-color: #e53935;
}

#boton-reiniciar {
  background-color: #ff9800;
  color: white;
}

#boton-reiniciar:hover {
  background-color: #fb8c00;
}

#boton-menu {
  background-color: #03a9f4;
  color: white;
}

#boton-menu:hover {
  background-color: #039be5;
}

.fade-in {
  animation: fadeIn 0.5s;
}

.fade-out {
  animation: fadeOut 0.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

#resultado p {
  margin: 10px 0;
}

#puntuacion-final {
  font-size: 1.5em;
  margin-top: 20px;
}

.puntuacion-excelente {
  color: #4caf50;
}

.puntuacion-buena {
  color: #8bc34a;
}

.puntuacion-regular {
  color: #ff9800;
}

.puntuacion-mala {
  color: #f44336;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f8f8f8;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", sans-serif;
  text-align: center;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}


footer:hover {
  background-color: #f0f0f0;
}

.footer_logo {
  width: 60px;
  transition: transform 0.3s ease-in-out;
}

.footer_logo:hover {
  transform: scale(1.1) rotate(10deg);
}

@media (max-width: 1000px) {
  .header {
      flex-direction: column;
      align-items: center;
  }

  .menu-ham {
      display: block;
      font-size: 3rem;
      align-self: center;
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
  }

  .buttons-header {
      display: none;
      flex-direction: column;
      gap: 10px;
      background-color: #f8f8f8;
      width: 100%;
      position: absolute;
      top: 170px;
      left: 0;
      padding: 10px 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
  }

  .buttons-header.active {
      display: flex;
  }
  
  .foto-header {
      width: 100px;
  }

  .slogan {
      font-size: 2rem;
      margin: 10px auto; 
  }
}

@media(max-width:800px) {
  *{
      font-size: 0.9rem;
  }
  .header {
      flex-direction: column;
      align-items: center;
  }
  .buttons-header {
      justify-content: space-around;
      width: 100%;
      gap: 10px;        
  }
  .foto-header{
      width: 100px;
  }
  .foto-uade{
      width: 380px;
  }
  .salud-image{
      width: 240px;
  }
}


@media (max-width: 480px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
  }

  .buttons-header {
      width: 100%;
      justify-content: center;
  }

  .buttons-header button {
      width: 100%;
      text-align: center;
  }

  .foto-header {
      width: 60px;
  }
}